// Jade file to specify output of an actors list
// Inherits from layout
extend layout
block content
  h1 #{title}
  
  // Get back to logged in users home page
  tr
    td
      a(href="/home?id="+session_userid) Home <br/>
      <br/>
  
  

  // Create a table with one row per result
  table
    - for (var inx = 0; inx < results.length; inx++)
        tr
          td 
            #{results[inx].PID}
          td &nbsp;
          td
            img(src=results[inx].URL height="240" width="320")
          td &nbsp;

        tr       
          td 
            Average Rating = #{results[inx].AVG}
          td &nbsp;
          td 
            My Rating = #{results[inx].SCORE}
          td &nbsp;
          td 
            First Pinner ID = #{results[inx].FPID}
          td &nbsp;
          td 
            This photo has been pinned #{results[inx].COUNT} many times
          td &nbsp;
          
  
