extends grid
block results
    table
      tr
        td
          .container
            .row
              .span3
                .navbar
                  .navbar-inner
                    ul.nav
                      li.dropdown
                        a.dropdown-toggle(data-toggle='dropdown', href='#')
                          |  Menu
                          b.caret
                        ul.dropdown-menu
                          li
                            a(href='/home?id=' + userid) Home
                          li
                            a(href='/boards?id=' + userid) My Boards
                          li
                            a(href='/pins?id=' + userid) My Pins
                          li
                            a(href='/' + userid + '/following') I am Following
                          li
                            a(href='/' + userid + '/followers') My Followers
                          li
                            a(href='/recommendation?id=' + userid) Recommended For Me
                          li
                            a(href='/interest?id=' + userid) My Interests
                          li
                            a(href='/search/photos') Search!
                          li
                            a(href='/logout?id=' + userid) Logout

    .title
        | Pins of #{name[0]['FIRSTNAME']} #{name[0]['LASTNAME']}

    br
    br

    // If this is currently logged in user's page then only let him add a new pin
    if userid==queried_userid
        tr
            td
                a(href="/addnewpin?id="+userid) Add a new Pin <br/>


    - for (var i = 0; i < results.length; i += 4)
        br
        br
        - var n
        - for (var j = 0; j < 4 && i + j < results.length; j++)
            - n = j
            if results[i + j].IS_CACHED == 1
                img(class='img' src="/cache/photo/c_pin?pid=" + results[i + j].PID)
                     a(href="/pins/pinsphoto?id=" + queried_userid + "&pid=" + results[i + j]['PID'])
            else
                img(class='img' src=results[i + j].URL)
                    a(href="/pins/pinsphoto?id=" + queried_userid + "&pid=" + results[i + j]['PID'])
        br
        br
        if results[i]['BNAME'] != NULL
            - for (var j = 0; j < n + 1; j++)
                - var s = '/boards/boardpins?id=' + userid + '&bid=' + results[i + j]['BID']
                a(href=s)
                    .name
                        | Pinned on Board: #{results[i + j]['BNAME']}
        br
        - for (var j = 0; j < 4 && i + j < results.length; j++)
            .name.blue
                | Average rating: #{results[i + j]['AVG']}
        br
        - for (var j = 0; j < n + 1; j++)
            .name.blue
                | Pin count: #{results[i + j]['COUNT']}
        br
        - for (var j = 0; j < n + 1; j++)
            - var s = '/pinphotoonboard?id=' + userid + '&pid=' + results[i + j]['PID']
            - var ss = results[i + j]['PID']
                a(href=s)
                    .name
                        | Pin it!
        br
        if userid == queried_userid
            - for (var j = 0; j < n + 1; j++)
                if results[i+j]['BNAME'] != NULL
                    - var s = '/deletepin?id=' + userid + '&bid=' + results[i + j]['BID'];
                    - var ss = '&pid=' + results[i + j]['PID']
                else
                    - var s = '/deleteboardpin?id=' + userid + '&bid=' + queried_boardid;
                    - var ss = '&pid=' + results[i + j]['PID']


                a(href=s + ss, onclick="return confirm('Are you sure?')")
                    .name
                        | Delete this pin

        br

