extends grid
block results
    table 
      tr
        td
          .container
            .row
              .span3
                .navbar
                  .navbar-inner
                    ul.nav
                      li.dropdown
                        a.dropdown-toggle(data-toggle='dropdown', href='#')
                          |  Menu
                          b.caret
                        ul.dropdown-menu
                          li
                            a(href='/home?id=' + userid) Home
                          li
                            a(href='/boards?id=' + userid) My Boards
                          li
                            a(href='/pins?id=' + userid) My Pins
                          li
                            a(href='/' + userid + '/following') I am Following
                          li
                            a(href='/' + userid + '/followers') My Followers
                          li
                            a(href='/recommendation?id=' + userid) Recommended For Me
                          li
                            a(href='/interest?id=' + userid) My Interests
                          li
                            a(href='/search/photos') Search!
                          li
                            a(href='/logout?id=' + userid) Logout
                            
    .title
        | Boards of #{name[0]['FIRSTNAME']} #{name[0]['LASTNAME']}
        br
        br

    // If this is currently logged in user's page then only let him add a new board
    if userid==queried_userid  
        tr
            td
                a(href="/createnewboard?id="+userid) Create a new Board <br/>

    - for (var i = 0; i < results.length; i += 4)
        br
        br
        - var n
        - for (var j = 0; j < 4 && i + j < results.length; j++)
            - n = j
            a(href="/boards/boardpins?id=" + queried_userid + "&bid=" + results[i + j]['BOARDID'])
                img(class='img' src="#{results[i + j]['BOARD_PIC']}")
        if n < 3
            br
        - for (var j = 0; j < n + 1; j++)
            - var s = '/boards/boardpins?id=' + queried_userid + '&bid='
            - var ss = results[i + j]['BOARDID']
            .name
                a(href=s + ss)
                    | #{results[i + j]['BOARDNAME']}
        br
        - for (var j = 0; j < n + 1; j++)
            .name.blue
                | #{results[i + j]['BOARD_PIN_COUNT']} pin(s)
        br

        if userid!=queried_userid
            - for (var j = 0; j < n + 1; j++)
                if results_other[i]==0
                    .name.blue
                        a(href="/followthisboard?id=" + queried_userid + "&bid=" + results[i + j]['BOARDID']) Follow this Board!
                else
                    .name.blue
                        The Following!
        br

        if userid == queried_userid
            - for (var j = 0; j < n + 1; j++)
                - var s = '/deleteboard?id=' + userid + '&bid='
                - var ss = results[i + j]['BOARDID']
                    a(href=s + ss, onclick="return conform('Are you sure?')")
                        .name
                            | Delete this board
        br
