extends grid
block results
    table 
      tr
        td
          .container
            .row
              .span3
                .navbar
                  .navbar-inner
                    ul.nav
                      li.dropdown
                        a.dropdown-toggle(data-toggle='dropdown', href='#')
                          |  Menu
                          b.caret
                        ul.dropdown-menu
                          li
                            a(href='/home?id=' + queried_id) Home
                          li
                            a(href='/boards?id=' + user_id) My Boards
                          li
                            a(href='/pins?id=' + user_id) My Pins
                          li
                            a(href='/' + user_id + '/following') I am Following
                          li
                            a(href='/' + user_id + '/followers') My Followers
                          li
                            a(href='/recommendation?id=' + user_id) Recommended For Me
                          li
                            a(href='/interest?id=' + user_id) My Interests
                          li
                            a(href='/search/photos') Search!
                          li
                            a(href='/logout?id=' + queried_id) Logout
    .container
        h1 #{title}
        h2 Here are some of the photos from the Boards you are following!
    .title
    - for (var i = 0; i < results.length; i += 4)
        br
        br
        - var n
        - for (var j = 0; j < 4 && i + j < results.length; j++)
            - n = j
            a(href="/pins/pinsphoto?id=" + user_id + "&pid=" + results[i + j]['PID'])
              img(class='img' src="#{results[i + j]['URL']}")
        if n < 3
            br
        - for (var j = 0; j < 4 && i + j < results.length; j++)
            .name.blue
                | Average rating: #{results[i + j]['AVG']}
        br
        - for (var j = 0; j < n + 1; j++)
            .name.blue
                | Pin count: #{results[i + j]['COUNT']}
        br
        - for (var j = 0; j < n + 1; j++)
            - var s = '/boards?id=' + results[i + j]['USERID'] + '&bid=' + results[i + j]['BOARDID']
            a(href=s)
                    .name
                        | #{results[i + j]['BNAME']}
        br
        - for (var j = 0; j < n + 1; j++)
            - var s = '/pinphotoonboard?id=' + user_id + '&pid=' + results[i + j]['PID']
            - var ss = results[i + j]['PID']
                a(href=s)
                    .name
                        | Pin it!
        br

