extends grid
block dropdown
    table
      tr
        td
          .container
            .row
              .span3
                .navbar
                  .navbar-inner
                    ul.nav
                      li.dropdown
                        a.dropdown-toggle(data-toggle='dropdown', href='#')
                          |  Menu
                          b.caret
                        ul.dropdown-menu
                          li
                            a(href='/home?id=' + userid) Home
                          li
                            a(href='/boards?id=' + userid) My Boards
                          li
                            a(href='/pins?id=' + userid) My Pins
                          li
                            a(href='/' + userid + '/following') I am Following
                          li
                            a(href='/' + userid + '/followers') My Followers
                          li
                            a(href='/recommendation?id=' + userid) Recommended For Me
                          li
                            a(href='/interest?id=' + userid) My Interests
                          li
                            a(href='/search/photos') Search!
                          li
                            a(href='/logout?id=' + userid) Logout
block results
    if !search
        .title
            a(href='/profile?id=' + userid)
                | #{type} #{username[0]['FIRSTNAME']} #{username[0]['LASTNAME']}
        br
    #usercol.col
        - for (var i = 0; i < results.length; i += 4)
            br
            br
            - var n;
            - for (var j = 0; j < 4 && i + j < results.length; j++)
                - n = j;
                img(class="img" src="#{results[i + j]['PROFILE_PIC']}")
            if n < 3
                br
            - for (var j = 0; j < 4 && i + j < results.length; j++)
                a(href='/profile?id=' + results[i + j]['USERID'])
                    .name
                        | #{results[i + j]['FIRSTNAME']} #{results[i + j]['LASTNAME']}
            br
