// Jade file to specify output of an actors list
// Inherits from layout
extend layout
block content
  h1 #{title}
  
  // Get back to logged in users home page
  tr
    td
      a(href="/home?id="+session_userid) Home <br/>
      <br/>
  
  
  - var resultsCopy = results
  // Create a table with one row per result
  table(border='1')
    - for (var inx = 0; inx < results.length; inx++)
        tr
          td 
            a(href="/boards/boardpins/boardpinphoto?id=" + queried_userid + "&pid=" + results[inx].PID) #{results[inx].PID}
          td 
            img(src=results[inx].URL, height="240" width="320")
          td 
            The Average Rating = #{results[inx].AVG}
          td 
            The This photo has been pinned #{results[inx].COUNT} times
          td
            a(href="/pinphotoonboard?id=" + queried_userid + "&pid=" + results[inx].PID) Pin it!
          
  
