extend layout
block content
  h1 Photos you may like...
  table
      tr
        td
        |  #{title}
      tr
        td
          .container
            .row
              .span3
                .navbar
                  .navbar-inner
                    ul.nav
                      li.dropdown
                        a.dropdown-toggle(data-toggle='dropdown', href='#')
                          |  Menu
                          b.caret
                        ul.dropdown-menu
                          li
                            a(href='/home?id=' + sessionid) Home
                          li
                            a(href='/boards?id=' + sessionid) My Boards
                          li
                            a(href='/pins?id=' + sessionid) My Pins
                          li
                            a(href='/' + sessionid + '/following') I am Following
                          li
                            a(href='/' + sessionid + '/followers') My Followers
                          li
                            a(href='/recommendation?id=' + sessionid) Recommended For Me
                          li
                            a(href='/interest?id=' + sessionid) My Interests
                          li
                            a(href='/search/photos') Search!
                          li
                            a(href='/logout?id=' + sessionid) Logout

  
  // Get back to logged in users home page
  tr
    td
      a(href="/home?id="+userid) Home <br/>
      <br/>
  
  
  
  // Create a table with one row per result
  table(border='1')
    - for (var inx = 0; inx < rec_photos.length; inx++)
        tr
          td 
            a(href="/boards/boardpins/boardpinphoto?id=" + userid + "&pid=" + rec_photoids[inx]) #{rec_photoids[inx]}
          td 
            img(src=rec_photos[inx], height="240" width="320")
          td 
            The Average Rating = #{rec_photos_avg_rating[inx]}
          td 
            The This photo has been pinned #{rec_photos_pin_count[inx]} times
          td
            a(href="/pinphotoonboard?id=" + userid + "&pid=" + rec_photoids[inx]) Pin it!
         
  h1 People with similar interests... </br>
   
  table(border='1')
    - for (var i = 0; i < rec_ppl.length; i++)
        tr
          td
            rec_userid = '/profile?id=' + rec_ppl[i].USERID
            // div
            //  - console.log("From Jade: " + rec_userid)
            // div
            a(href=rec_userid) #{rec_ppl[i].FIRSTNAME} #{rec_ppl[i].LASTNAME} <br/>